@import '../../Styles/Variables/variables';

.initial_profile{

  &__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
    &:hover {
      .initial_profile__avatar:not(.prof--ad) {
        border: 3px solid $text-color;
      }
      .initial_profile__name {
        opacity: 1;
      }
      .prof--ad {
        background-color: rgba(255, 255, 255, 0.281);
      }
    }
  }

  &__name {
    font-size: 1.2rem;
    opacity: .7;
  }

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    & svg {
      width: 80%;
      height: 80%;
      opacity: .7;
    }
  }
  &__avatar.prof--ad{
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__avatar#user1 {
    background-image: url('../../imgs/users/user1.png');
  }
  &__avatar#user2 {
    background-image: url('../../imgs/users/user4.png');
  }
  &__avatar#user3 {
    background-image: url('../../imgs/users/user9.png');
  }
  &__avatar#user4 {
    background-image: url('../../imgs/users/user7.png');
  }

}