.accountsCard{
  &__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
    &:hover {
      .accountsCard__avatar:not(.prof--ad)::after {
        content: '';
        display: block;
        width: calc(100% - 6px);
        height:  calc(100% - 6px);
        border-radius: 5px;
        border: 3px solid $text-color;
      }
      .accountsCard__name {
        opacity: 1;
      }
      .prof--ad {
        background-color: rgba(255, 255, 255, 0.281);
      }
    }
  }

  &__name {
    font-size: 0.75rem;
    opacity: .7;
  }

  &__avatar {
    border-radius: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: .5rem;
    width: 84px;
    height: 84px;

    & svg {
      width: 80%;
      height: 80%;
      opacity: .7;
    }
  }
  &__avatar.prof--ad{
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__avatar#user1 {
    background-image: url('../imgs/users/user1.png');
  }
  &__avatar#user2 {
    background-image: url('../imgs/users/user4.png');
  }
  &__avatar#user3 {
    background-image: url('../imgs/users/user9.png');
  }
  &__avatar#user4 {
    background-image: url('../imgs/users/user7.png');
  }

}

@include media-md {
  .accountsCard {
    &__name {
      font-size: 1.2rem;
    }
  }
}

@include media-bg {
  .initial_profile{
    &__avatar{
      width: 150px;
      height: 150px;
    }
  }
}