.featured {
  display: flex;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  height: 100vh;
  &::after, &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
  }
  &::after {
    background: linear-gradient(to top, #111 10%, transparent 90%);
  }

  &__content {
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__btns{
   display: flex; 
   gap: 1rem;
  }
  .watch_btn,
  .mylist_btn{
    display: flex;
    align-items: center;
    gap: .5rem;

    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 2.5rem .5rem 2rem;
    text-decoration: none;
    transition: opacity 200ms ease-in-out;
    &:hover {
      opacity: .7;
    }
  }
  .watch_btn {
    background-color: white;
    color: black;
  }
  .mylist_btn{
    background-color: #333;
    color: white;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.95);
    & span {
      font-size: .875rem;
      position: relative;
    }
    & span:not(:last-child)::before {
      content: '';
      border-radius: 50%;
      background-color: $contrast-color;
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      right: -11px;
      top: 6px;
    }
  }
}

@include media-bg {
  .featured{
    &::before {
      background: linear-gradient(to right, #111 30%, transparent 70%);
    }
    &__content {
      align-items: flex-start;
      padding-left: 2rem;
      padding-right: 0;
      padding-bottom: 80px;
    }
    &__title {
      font-size: 3.75rem;
      font-weight: bold;
    }  
    &__info {
      font-size: 1.125rem;
      font-weight: bold;
      margin-top: 1rem;
    }
    &__points {
      color: #46d369;
    }
    &__points,
    &__year,
    &__seasons {
      display: inline-block;
      margin-right: 1rem;
    }
  
    &__synopsis {
      color: rgba(255, 255, 255, 0.95);
      font-weight: 400;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      text-shadow: 2px 2px 4px rgba(0,0,0, 45%);
      max-width: 40%;
    }

    &__genres {
      display: block;
    }
  }

}