.linkBtn {
  display: block;
  padding: .5rem 1rem;
  border-radius: 3px;
  text-align: center;
  &.linkBtn--main {
    background-color: $contrast-color;
    color: $text-color;
  }

  &.linkBtn--lg {
    padding: .875rem 2.25rem;
    font-size: 1.625rem;
    border-radius: 0;
  }
}