.lists {
  margin-top: -150px;
}

.myList {
  position: relative;
  margin-top: 100px;
  min-height: calc(100vh - 100px);

  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__list {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  &__img {
    cursor: pointer;
    transform: scale(0.9);
    transition: all ease 200ms;
    width: 150px;
    &:hover {
      transform: scale(1);
    }
  }
}

@include media(normal) {
  .lists {
    margin-top: -120px;
  }
}