.header {
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(20,20,20,0));
  width: 100%;
  padding: 0 2rem;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 400ms ease;
}
.menu {
  display: flex;
  align-items: center;
  height: 100%;

  &__logo {
    height: 25px;
    margin-right: 3rem;
    img {
      height: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    color: white;
    transition: color 200ms ease;
    &.active {
      font-weight: bold;
    }
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__user {
    display: flex;
    gap: 1rem;
    align-items: center;

    &__kids a{
      color: white;
    }
    &__notification,
    &__search {
      color: white;
      cursor: pointer;
    }
    &__notification {
      font-size: 1.5rem;
    }
    &__search{
      font-size: 1.2rem;
    }
    &__icon img{
      border-radius: 5px;
      width: 32px;
      height: 32px;
    }

    &__profile {
      gap: .5rem;
      cursor: pointer;
      &_btn svg {
        transition: transform 300ms ease;
      }
      &:hover {
        .menu__user__profile_btn svg{
          transform: rotate(180deg);
        }
        .menu__profile {
          visibility: visible;
          opacity: 1;
        }
      }
    }

  }
  &__profile {
    background-color: $bg-color-dark;
    border: 1px solid $bg-color-transparent;
    position: absolute;
    padding: 1rem .8rem;
    height: 287px;
    width: 179px;
    top: 71px;
    right: 2rem;
    font-size: .875rem;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease;

    &__caret {
      font-size: 1.5rem;
      top: -20px;
      right: 27px;
      position: absolute;
    }

    &__account {
      gap: .5rem;
      padding-bottom: .5rem;

      &__img {
        width: 32px;
        height: 32px;
        border-radius: 5px;
      }
      &:hover {
        cursor: pointer;
        .menu__profile__account__name {
          text-decoration: underline;
        }
      }
    }
    &__accountManage button{
      background: none;
      border: none;
      color: $text-color;
      cursor: pointer;
      padding: 1rem 0;
      &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        padding-top: 1rem;
        border-bottom: 1px solid $bg-color-lighter;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &__manage{
      padding: 1rem 0;
      font-weight: 700;
      &__item {
        padding-bottom: .5rem;
      }
      &__link {
        color: $text-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}