@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_ai_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_jc_sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(20, 20, 20, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(20, 20, 20, 0));
  width: 100%;
  padding: 0 2rem;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 400ms ease;
  transition: background 400ms ease;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menu__logo {
  height: 25px;
  margin-right: 3rem;
}

.menu__logo img {
  height: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.menu__link {
  color: white;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.menu__link.active {
  font-weight: bold;
}

.menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__user__kids a {
  color: white;
}

.menu__user__notification, .menu__user__search {
  color: white;
  cursor: pointer;
}

.menu__user__notification {
  font-size: 1.5rem;
}

.menu__user__search {
  font-size: 1.2rem;
}

.menu__user__icon img {
  border-radius: 5px;
  width: 32px;
  height: 32px;
}

.menu__user__profile {
  gap: .5rem;
  cursor: pointer;
}

.menu__user__profile_btn svg {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.menu__user__profile:hover .menu__user__profile_btn svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__user__profile:hover .menu__profile {
  visibility: visible;
  opacity: 1;
}

.menu__profile {
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.9);
  position: absolute;
  padding: 1rem .8rem;
  height: 287px;
  width: 179px;
  top: 71px;
  right: 2rem;
  font-size: .875rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.menu__profile__caret {
  font-size: 1.5rem;
  top: -20px;
  right: 27px;
  position: absolute;
}

.menu__profile__account {
  gap: .5rem;
  padding-bottom: .5rem;
}

.menu__profile__account__img {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.menu__profile__account:hover {
  cursor: pointer;
}

.menu__profile__account:hover .menu__profile__account__name {
  text-decoration: underline;
}

.menu__profile__accountManage button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1rem 0;
}

.menu__profile__accountManage button::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  padding-top: 1rem;
  border-bottom: 1px solid #141414;
}

.menu__profile__accountManage button:hover {
  text-decoration: underline;
}

.menu__profile__manage {
  padding: 1rem 0;
  font-weight: 700;
}

.menu__profile__manage__item {
  padding-bottom: .5rem;
}

.menu__profile__manage__link {
  color: #fff;
}

.menu__profile__manage__link:hover {
  text-decoration: underline;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading img {
  width: 300px;
}

.mb_header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  padding: 0 1.25rem;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(0, 0, 0, 0.7)), to(rgba(20, 20, 20, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 70%, rgba(20, 20, 20, 0));
}

.mb_header__bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mb_header__logo {
  height: 25px;
  margin-right: 3rem;
}

.mb_header__logo img {
  height: 100%;
}

.mb_header__icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.mb_header__icons a:not(:last-child) {
  width: 24px;
  height: 24px;
  color: #fff;
  font-size: 1.5rem;
}

.mb_header__profile {
  height: 32px;
}

.mb_header__profile img {
  border-radius: 3px;
  height: 100%;
}

.mb_menu {
  -webkit-transition: padding 300ms ease;
  transition: padding 300ms ease;
}

.mb_menu.mb_menu--fixed {
  position: fixed;
  padding-top: 1rem;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mb_menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.mb_menu__link {
  background: none;
  border: none;
  display: block;
  font-size: 1rem;
  color: white;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.mb_menu__link.active {
  font-weight: bold;
}

.mb_menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mhb__container {
  background-color: #000;
  padding: 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  z-index: 99;
}

.mhb__items {
  width: 100%;
}

.mhb__icon {
  font-size: 1.2rem;
}

.mhb__item {
  width: 20%;
  opacity: .7;
}

.mhb__item.active {
  opacity: 1;
}

.mhb__link {
  color: #fff;
  width: 100%;
  font-size: .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 4rem 0 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer__title, .footer__link,
.footer a {
  font-weight: 400;
  color: #808080;
}

.footer__link:hover,
.footer a:hover {
  text-decoration: underline;
}

.footer__title {
  padding-bottom: 1rem;
}

.footer__list {
  max-height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .625rem;
}

.footer__link {
  font-size: .875rem;
}

.footer__others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  opacity: .5;
}

.myFooter__description {
  width: 40%;
}

.myFooter__description p {
  color: #808080;
  text-align: left;
}

.myFooter__description p:not(:last-child) {
  padding-bottom: .5rem;
}

.myFooter__social {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.myFooter__social p {
  padding-bottom: .5rem;
}

.myFooter__social p strong {
  color: #b9090b;
}

.myFooter__social__item {
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.myFooter__social__item:hover a {
  color: #b9090b;
}

.myFooter__social__item a {
  color: #fff;
  margin-left: 1rem;
}

.myFooter__social__icon {
  padding: .5rem;
  border-radius: 5px;
  background-color: #141414;
}

.accountsCard__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.accountsCard__item:hover .accountsCard__avatar:not(.prof--ad)::after {
  content: '';
  display: block;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 5px;
  border: 3px solid #fff;
}

.accountsCard__item:hover .accountsCard__name {
  opacity: 1;
}

.accountsCard__item:hover .prof--ad {
  background-color: rgba(255, 255, 255, 0.281);
}

.accountsCard__name {
  font-size: 0.75rem;
  opacity: .7;
}

.accountsCard__avatar {
  border-radius: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: .5rem;
  width: 84px;
  height: 84px;
}

.accountsCard__avatar svg {
  width: 80%;
  height: 80%;
  opacity: .7;
}

.accountsCard__avatar.prof--ad {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .accountsCard__name {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .accountsCard__avatar {
    width: 150px;
    height: 150px;
  }
}

.categorias_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.categorias_container.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.categorias__lista {
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.categorias__link {
  color: #999999;
}

.categorias__link.active {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.categorias__close {
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 1rem 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.categorias__close span {
  -webkit-transform: rotate(-45deg) translate(-20px, 20px);
          transform: rotate(-45deg) translate(-20px, 20px);
}

.categorias__close span, .categorias__close span::before {
  background: #000;
  border-radius: 10px;
  height: 3px;
  width: 35px;
}

.categorias__close span::before {
  content: '';
  display: block;
  -webkit-transform: rotate(90deg) translate(0px, 0px);
          transform: rotate(90deg) translate(0px, 0px);
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
}

.featured::after, .featured::before {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
}

.featured::after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #111), color-stop(90%, transparent));
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured__content {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.25rem;
}

.featured__title {
  font-size: 2rem;
  font-weight: bold;
}

.featured__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.featured__genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.95);
}

.featured__genres span {
  font-size: .875rem;
  position: relative;
}

.featured__genres span:not(:last-child)::before {
  content: '';
  border-radius: 50%;
  background-color: #b9090b;
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  right: -11px;
  top: 6px;
}

@media screen and (min-width: 1200px) {
  .featured::before {
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, #111), color-stop(70%, transparent));
    background: linear-gradient(to right, #111 30%, transparent 70%);
  }
  .featured__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 80px;
  }
  .featured__title {
    font-size: 3.75rem;
    font-weight: bold;
  }
  .featured__info {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .featured__points {
    color: #46d369;
  }
  .featured__points, .featured__year, .featured__seasons {
    display: inline-block;
    margin-right: 1rem;
  }
  .featured__synopsis {
    color: rgba(255, 255, 255, 0.95);
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-shadow: 2px 2px 4px black;
    max-width: 40%;
  }
  .featured__genres {
    display: block;
  }
}

.logo {
  height: 25px;
  margin-right: 3rem;
}

.logo img {
  height: 100%;
}

.movieRow {
  position: relative;
  margin-bottom: 2rem;
}

.movieRow:hover .movieRow_left,
.movieRow:hover .movieRow_right {
  opacity: 1;
}

.movieRow h2 {
  margin-left: 2rem;
}

.movieRow_left, .movieRow_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  width: 40px;
  height: 225px;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.movieRow_left:hover, .movieRow_right:hover {
  font-size: 2.5rem;
}

.movieRow_left {
  left: 0;
  z-index: 99;
}

.movieRow_right {
  right: 0;
  z-index: 99;
}

.movieRow__listarea {
  padding-left: 2rem;
  overflow: hidden;
}

.movieRow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.movieRow__item {
  min-width: 150px;
  height: 225px;
  cursor: pointer;
}

.movieRow__item img, .movieRow__item div {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.movieRow__item img:hover, .movieRow__item div:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.movieRow__item div {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieRow__item div p {
  padding: 0 1rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .movieRow_left,
  .movieRow_right {
    opacity: 1;
  }
}

.linkBtn {
  display: block;
  padding: .5rem 1rem;
  border-radius: 3px;
  text-align: center;
}

.linkBtn.linkBtn--main {
  background-color: #b9090b;
  color: #fff;
}

.linkBtn.linkBtn--lg {
  padding: .875rem 2.25rem;
  font-size: 1.625rem;
  border-radius: 0;
}

.inputEmail__title {
  font-weight: 400;
  text-align: center;
}

.inputEmail__cta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 640px;
  width: 100%;
}

.inputEmail__input {
  min-width: 450px;
  min-height: 60px;
  height: 100%;
  border: 1px solid #999999;
  padding: .625rem .625rem 0;
  font-size: 1.2rem;
  outline: none;
}

.inputEmail__input::-webkit-input-placeholder {
  visibility: hidden;
  color: #fff;
}

.inputEmail__input:-ms-input-placeholder {
  visibility: hidden;
  color: #fff;
}

.inputEmail__input::-ms-input-placeholder {
  visibility: hidden;
  color: #fff;
}

.inputEmail__input::placeholder {
  visibility: hidden;
  color: #fff;
}

.inputEmail__input_container {
  position: relative;
}

.inputEmail__input_label {
  position: absolute;
  top: 1.1875rem;
  left: .625rem;
  font-size: 1.125rem;
  color: #808080;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.inputEmail__input:not(:placeholder-shown) + .inputEmail__input_label,
.inputEmail__input:focus + .inputEmail__input_label {
  font-size: .675rem;
  top: .625rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.faq__title {
  font-size: 3.125rem;
  text-align: center;
  padding: 4rem 0 3rem;
}

.faq__list {
  max-width: 815px;
  margin: 0 auto;
}

.faq__item {
  overflow: hidden;
}

.faq__item:not(:last-child) {
  margin-bottom: .5rem;
}

.faq__question {
  width: 100%;
  padding: 1.25rem 2rem;
  background-color: #333;
  color: #fff;
  font-size: 1.625rem;
  text-align: left;
}

.faq__btn {
  position: relative;
  width: 26px;
  height: 2px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.faq__btn, .faq__btn::before {
  display: block;
  background-color: #fff;
}

.faq__btn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 26px;
  top: -12px;
  left: 12px;
}

.faq__answer {
  display: block;
  max-height: 0px;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  border-top: 1px solid black;
  -webkit-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.faq__answer div {
  padding: 2rem 6rem 2rem 2rem;
}

.faq__answer__text:not(:last-child) {
  padding-bottom: 1.5rem;
}

.faq__item.open .faq__answer {
  max-height: 1200px;
}

.faq__item.open .faq__btn {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.lang {
  position: relative;
  max-width: 145px;
}

.lang__list {
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: .6rem 1.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.lang__iconGlobe, .lang__iconArrow {
  position: absolute;
  height: 100%;
  font-size: .875rem;
  z-index: -1;
}

.lang__iconGlobe {
  left: 6px;
}

.lang__iconArrow {
  right: 7px;
  bottom: 5px;
}

.lang__item {
  background-color: #999999;
  color: #fff;
  border: none;
  font-size: .875rem;
}

.lang--bg .lang__list {
  padding: 1rem 2.2rem;
}

.lang--bg .lang__iconGlobe {
  font-size: 1.2rem;
}

.lang--bg .lang__iconGlobe {
  left: 10px;
}

.lang--bg .lang__iconArrow {
  right: 10px;
}

.form {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  max-width: 450px;
  padding: 3.75rem;
  position: relative;
  margin: 0 auto;
  height: 100vh;
  max-height: 660px;
  width: 100%;
}

.form__title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.form__btn {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form__btn button {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form__help {
  color: #999999;
  font-size: .875rem;
  margin-bottom: 4rem;
}

.form__help input {
  margin-right: .5rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.form__helpMe a {
  color: #999999;
}

.form__helpMe a:hover {
  text-decoration: underline;
}

.form__social {
  gap: .5rem;
  padding-bottom: 1rem;
}

.form__social__icon {
  background-color: #3B579D;
  border-radius: 3px;
  color: white;
  font-size: 1.5em;
  padding: .3rem .1rem 0 .3rem;
}

.form__social span {
  font-size: .875rem;
  color: #999999;
}

.form__subscribe {
  color: #999999;
  padding-bottom: 1rem;
}

.form__subscribe a {
  color: #fff;
}

.form__subscribe a:hover {
  text-decoration: underline;
}

.form__reCaptcha {
  color: #999999;
  font-size: .875rem;
}

.form__reCaptcha a {
  color: #0071eb;
}

.form__reCaptcha a:hover {
  text-decoration: underline;
}

.inputForm {
  padding-bottom: 1rem;
}

.inputForm__container {
  position: relative;
  background-color: #454545;
  border-radius: 5px;
  border-bottom: 2px solid transparent;
}

.inputForm__container.error + .inputForm__error {
  display: block;
}

.inputForm__container.error {
  border-color: #e87c03;
}

.inputForm__container:last-child {
  margin-bottom: 1.5rem;
}

.inputForm__item {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 1.5rem 1rem .6rem;
  position: relative;
  outline: none;
  width: 100%;
  z-index: 1;
}

.inputForm__item::-webkit-input-placeholder {
  visibility: hidden;
}

.inputForm__item:-ms-input-placeholder {
  visibility: hidden;
}

.inputForm__item::-ms-input-placeholder {
  visibility: hidden;
}

.inputForm__item::placeholder {
  visibility: hidden;
}

.inputForm__item:focus + .inputForm__label,
.inputForm__item:not(:placeholder-shown) + .inputForm__label {
  font-size: .7rem;
  top: .5rem;
}

.inputForm__label {
  font-weight: 300;
  color: #999999;
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 0;
}

.inputForm__error {
  display: none;
  font-size: .875rem;
  color: #e87c03;
  padding-top: .4rem;
}

.button {
  display: block;
  padding: .5rem 1rem;
  border-radius: 3px;
  text-align: center;
}

.button.button--main {
  background-color: #b9090b;
  color: #fff;
}

.button.button--lg {
  padding: .875rem 2.25rem;
  font-size: 1.625rem;
  border-radius: 0;
}

.movieInfo {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  visibility: hidden;
}

.movieInfo.open {
  display: block;
  visibility: visible;
}

.movieInfo__container {
  position: relative;
  border-radius: 5px;
  height: 560px;
  margin: 30px auto 0;
  max-width: 850px;
  overflow: hidden;
}

.movieInfo__preview {
  position: relative;
  background-position: center;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70%;
  padding: 2rem 2rem 4.2rem 2rem;
}

.movieInfo__preview::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  bottom: 0;
}

.movieInfo__preview__panel {
  position: relative;
}

.movieInfo__title {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 1rem;
}

.movieInfo__btns {
  gap: 1rem;
}

.movieInfo__btn {
  border: 3px solid #999999;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3rem;
  padding: .675rem;
}

.movieInfo__btn:hover {
  border-color: #fff;
}

.movieInfo__close {
  background-color: #141414;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.movieInfo__about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, #181818));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #181818 30%);
  position: relative;
  margin-top: -70px;
  padding: 2rem 2rem 3rem 2rem;
}

.movieInfo__content {
  padding-top: 2rem;
}

.movieInfo__bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.movieInfo__points {
  color: #46d369;
  font-weight: 700;
  margin-right: 1rem;
}

.myListBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  background-color: #333;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 2.5rem .5rem 2rem;
  text-decoration: none;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.myListBtn:hover {
  opacity: .7;
}

.watchBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 2.5rem .5rem 2rem;
  text-decoration: none;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.watchBtn:hover {
  opacity: .7;
}

.accounts {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#101010), to(#272727));
  background: linear-gradient(to bottom, #101010, #272727);
  min-height: 100vh;
  width: 100%;
}

.accounts__header {
  width: 100%;
  height: 50px;
  background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0));
  padding: 1rem 0 1rem 3rem;
}

.accounts__container, .accounts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accounts__container {
  height: calc(100vh - 60px);
}

.accounts__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accounts__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.accounts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accounts__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
  margin: 0 20% 2rem;
}

.accounts__edit a {
  padding: .5rem 2rem;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: .7;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.accounts__edit a:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .accounts__header {
    height: 60px;
  }
  .accounts__list {
    margin: 0 0 4rem;
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .accounts__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .accounts__list {
    gap: 2rem;
  }
}

.lists {
  margin-top: -150px;
}

.myFooter {
  padding: 50px 0;
  text-align: center;
  background-color: #000;
}

@media screen and (min-width: 1200px) {
  .lists {
    margin-top: -120px;
  }
}

.initial__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.initial__header__container {
  width: 100%;
  height: 6rem;
  padding-top: 1.2rem;
}

.initial__logo img {
  width: 134px;
  height: 36px;
}

.initial__btns {
  gap: 1rem;
}

.initial__section {
  border-bottom: 8px solid #222;
  background-color: #000;
  width: 100%;
}

.initial__home {
  position: relative;
  height: 100vh;
  background-image: url("../imgs/pages/initial/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.initial__home::before {
  content: '';
  display: block;
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.9)), color-stop(60%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 100%;
}

.initial__home__container {
  position: relative;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.initial__title {
  font-size: 3.125rem;
  font-weight: 600;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.initial__subtitle {
  font-size: 1.625rem;
  margin-bottom: 1rem;
}

.initial__benefits__item {
  padding: 4.375rem 0;
}

.initial__benefits__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.initial__benefits__item--reverse .initial__benefits__titles {
  padding-right: 0;
  padding-left: 2rem;
}

.initial__benefits__titles {
  width: 52%;
  padding-right: 2rem;
}

.initial__benefits__title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.initial__benefits__subtitle {
  font-size: 1.625rem;
  font-weight: 400;
  padding-right: 3rem;
}

.initial__benefits__image {
  display: block;
  width: 48%;
  min-height: 300px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.initial__faq {
  width: 100%;
  background-color: #000;
}

.initial__faq__cta {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.login__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding-top: 1.5rem;
}

.login__logo img {
  width: 166px;
}

.login__bg {
  position: relative;
  min-height: 100vh;
  background-image: url("../imgs/pages/initial/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login__bg::before {
  content: '';
  display: block;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.6)), color-stop(60%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 100%;
}

.login__form {
  position: relative;
  padding-top: 100px;
  padding-bottom: 6rem;
}

.login__error {
  background-color: #e87c03;
  border-radius: 5px;
  color: #fff;
  display: none;
  font-size: .875rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.login__error a {
  color: white;
  text-decoration: underline;
}

.login__error.error {
  display: block;
}

.login__error__redirect {
  text-decoration: underline;
}

.newClient__header {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.newClient__logo img {
  width: 166px;
}

.newClient__bg {
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  position: relative;
  min-height: 100vh;
}

.newClient__card {
  max-width: 340px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: #333;
}

.newClient__img {
  padding: 1rem;
  width: 100%;
}

.newClient__step {
  text-transform: uppercase;
}

.newClient__title {
  font-size: 2rem;
  text-align: center;
}

.newClient__text {
  font-size: 1.125rem;
  text-align: center;
}

.newClient__text span {
  display: block;
}

.newClient__btn {
  width: 100%;
  height: 64px;
}

.newClient__btn button,
.newClient__btn a {
  padding: 1rem;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}

.newClient__form {
  width: 100%;
}

.newClient__congrat {
  font-size: 3rem;
  color: green;
}
/*# sourceMappingURL=main.css.map */