@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.flex_ai_c {
  align-items: center;
}

.flex_jc_sb {
  justify-content: space-between;
}

.accountsCard__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.accountsCard__item:hover .accountsCard__avatar:not(.prof--ad)::after {
  content: "";
  display: block;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 5px;
  border: 3px solid #fff;
}
.accountsCard__item:hover .accountsCard__name {
  opacity: 1;
}
.accountsCard__item:hover .prof--ad {
  background-color: rgba(255, 255, 255, 0.281);
}
.accountsCard__name {
  font-size: 0.75rem;
  opacity: 0.7;
}
.accountsCard__avatar {
  border-radius: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0.5rem;
  width: 84px;
  height: 84px;
}
.accountsCard__avatar svg {
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.accountsCard__avatar.prof--ad {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accountsCard__avatar#user1 {
  background-image: url("../imgs/users/user1.png");
}
.accountsCard__avatar#user2 {
  background-image: url("../imgs/users/user4.png");
}
.accountsCard__avatar#user3 {
  background-image: url("../imgs/users/user9.png");
}
.accountsCard__avatar#user4 {
  background-image: url("../imgs/users/user7.png");
}

@media screen and (min-width: 768px) {
  .accountsCard__name {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .initial_profile__avatar {
    width: 150px;
    height: 150px;
  }
}
.categorias_container {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-120%);
  transition: transform 400ms ease;
}
.categorias_container.open {
  transform: translateY(0);
}
.categorias__lista {
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: 1.5rem;
}
.categorias__link {
  color: #999999;
}
.categorias__link.active {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}
.categorias__close {
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 1rem 0;
  bottom: 0;
  justify-content: center;
  background-color: #fff;
}
.categorias__close span {
  transform: rotate(-45deg) translate(-20px, 20px);
}
.categorias__close span, .categorias__close span::before {
  background: #000;
  border-radius: 10px;
  height: 3px;
  width: 35px;
}
.categorias__close span::before {
  content: "";
  display: block;
  transform: rotate(90deg) translate(0px, 0px);
}

.featured {
  display: flex;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
.featured::after, .featured::before {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
}
.featured::after {
  background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured__content {
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.25rem;
}
.featured__title {
  font-size: 2rem;
  font-weight: bold;
}
.featured__btns {
  display: flex;
  gap: 1rem;
}
.featured .watch_btn,
.featured .mylist_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 2.5rem 0.5rem 2rem;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
}
.featured .watch_btn:hover,
.featured .mylist_btn:hover {
  opacity: 0.7;
}
.featured .watch_btn {
  background-color: white;
  color: black;
}
.featured .mylist_btn {
  background-color: #333;
  color: white;
}
.featured__genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.95);
}
.featured__genres span {
  font-size: 0.875rem;
  position: relative;
}
.featured__genres span:not(:last-child)::before {
  content: "";
  border-radius: 50%;
  background-color: #b9090b;
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  right: -11px;
  top: 6px;
}

@media screen and (min-width: 1200px) {
  .featured::before {
    background: linear-gradient(to right, #111 30%, transparent 70%);
  }
  .featured__content {
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 80px;
  }
  .featured__title {
    font-size: 3.75rem;
    font-weight: bold;
  }
  .featured__info {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .featured__points {
    color: #46d369;
  }
  .featured__points, .featured__year, .featured__seasons {
    display: inline-block;
    margin-right: 1rem;
  }
  .featured__synopsis {
    color: rgba(255, 255, 255, 0.95);
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    max-width: 40%;
  }
  .featured__genres {
    display: block;
  }
}
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(20, 20, 20, 0));
  width: 100%;
  padding: 0 2rem;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 400ms ease;
}

.menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.menu__logo {
  height: 25px;
  margin-right: 3rem;
}
.menu__logo img {
  height: 100%;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu__link {
  color: white;
  transition: color 200ms ease;
}
.menu__link.active {
  font-weight: bold;
}
.menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
}
.menu__user {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu__user__kids a {
  color: white;
}
.menu__user__notification, .menu__user__search {
  color: white;
  cursor: pointer;
}
.menu__user__notification {
  font-size: 1.5rem;
}
.menu__user__search {
  font-size: 1.2rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 300px;
}

.logo {
  height: 25px;
  margin-right: 3rem;
}
.logo img {
  height: 100%;
}

.mb_header {
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  padding: 0 1.25rem;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 70%, rgba(20, 20, 20, 0));
}
.mb_header__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mb_header__logo {
  height: 25px;
  margin-right: 3rem;
}
.mb_header__logo img {
  height: 100%;
}
.mb_header__icons {
  justify-content: center;
  gap: 1rem;
}
.mb_header__icons a:not(:last-child) {
  width: 24px;
  height: 24px;
  color: #fff;
  font-size: 1.5rem;
}
.mb_header__profile {
  height: 32px;
}
.mb_header__profile img {
  border-radius: 3px;
  height: 100%;
}

.mb_menu {
  transition: padding 300ms ease;
}
.mb_menu.mb_menu--fixed {
  position: fixed;
  padding-top: 1rem;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb_menu__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mb_menu__link {
  background: none;
  border: none;
  display: block;
  font-size: 1rem;
  color: white;
  transition: color 200ms ease;
}
.mb_menu__link.active {
  font-weight: bold;
}
.mb_menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mhb__container {
  background-color: #000;
  padding: 0 1rem;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  z-index: 99;
}
.mhb__items {
  width: 100%;
}
.mhb__icon {
  font-size: 1.2rem;
}
.mhb__item {
  width: 20%;
  opacity: 0.7;
}
.mhb__item.active {
  opacity: 1;
}
.mhb__link {
  color: #fff;
  width: 100%;
  font-size: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.movieRow {
  position: relative;
  margin-bottom: 2rem;
}
.movieRow:hover .movieRow_left,
.movieRow:hover .movieRow_right {
  opacity: 1;
}
.movieRow h2 {
  margin-left: 2rem;
}
.movieRow_left, .movieRow_right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  width: 40px;
  height: 225px;
  opacity: 0;
  transition: all 300ms ease;
}
.movieRow_left:hover, .movieRow_right:hover {
  font-size: 2.5rem;
}
.movieRow_left {
  left: 0;
  z-index: 99;
}
.movieRow_right {
  right: 0;
  z-index: 99;
}
.movieRow__listarea {
  padding-left: 2rem;
  overflow: hidden;
}
.movieRow__list {
  display: flex;
  transition: all 300ms ease;
}
.movieRow__item {
  min-width: 150px;
  height: 225px;
  cursor: pointer;
}
.movieRow__item img, .movieRow__item div {
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
}
.movieRow__item img:hover, .movieRow__item div:hover {
  transform: scale(1);
}
.movieRow__item div {
  background-color: #333;
  display: flex;
  align-items: center;
}
.movieRow__item div p {
  padding: 0 1rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .movieRow_left,
.movieRow_right {
    opacity: 1;
  }
}
.accounts {
  position: relative;
  background: linear-gradient(to bottom, #101010, #272727);
  min-height: 100vh;
  width: 100%;
}
.accounts__header {
  width: 100%;
  height: 50px;
  background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0));
  padding: 1rem 0 1rem 3rem;
}
.accounts__container, .accounts__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accounts__container {
  height: calc(100vh - 60px);
}
.accounts__content {
  flex-direction: column;
}
.accounts__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.accounts__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accounts__list {
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 20% 2rem;
}
.accounts__edit a {
  padding: 0.5rem 2rem;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 0.7;
  transition: opacity 200ms ease;
}
.accounts__edit a:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .accounts__header {
    height: 60px;
  }
  .accounts__list {
    margin: 0 0 4rem;
    gap: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .accounts__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .accounts__list {
    gap: 2rem;
  }
}
.lists {
  margin-top: -150px;
}

.footer {
  padding: 50px 0;
  text-align: center;
  background-color: #000;
}

@media screen and (min-width: 1200px) {
  .lists {
    margin-top: -120px;
  }
}

/*# sourceMappingURL=main.css.map */
